*{
    /* margin: 5px;
    padding: 5px; */
    box-sizing: border-box;
    font-size: larger;
}
body{
    background-color: white;
    margin-top: 50px;
}
.main{
    display: flex;
    justify-content: center;
}
.main button{
    width:45px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 4px;
}
.main input{
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    width: 100px;
}